@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
}


header{
    height: 100svh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    /* background-color: #000; */
    background-color: rgba(0, 0, 0, 0.608);
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-links{
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    padding-right: 2rem;
    font-size: 1.2rem;
}

.nav-logo{
    color: #fff;
}

.header-img{
    transform: rotateY(180deg);
    filter: brightness(20%);
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
}

.header-title{
    position: absolute;
    top: 20rem;
    left: 5rem;
    font-size: 6rem;
    text-transform: uppercase;
    line-height: .9;
    color: #fff;
}

.lighter{
    font-weight: 300;
    font-size: 5rem;
}

#bold{
    font-weight: 900;
}

.small{
    font-size: 2rem;
    background-color: #000;
    padding: 2rem;
    text-align: center;
    letter-spacing: 10px;
}

.header-btn{
    border: 1px solid #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 99999px;
    font-weight: 300;
    transition: ease 500ms;
}

.header-btn:hover{
    color: #000;
    background-color: #fff;
}

.about-section{
    color: #fff;
    display: flex;
}

.about-title{
    text-transform: uppercase;
    font-size: 3rem;
}

.about-name{
    font-size: 2rem;
}

.about-para{
    width: 100%;
    margin-top: 2rem;
    line-height: 1.9;
}

.about-para2{
    width: 100%;
    margin-top: 2rem;
    line-height: 1.9;
}

.about{
    margin: 10rem;
}

.about-img{
    filter: grayscale(100);
    width: 50rem;
}

.pro-title{
    text-align: center;
    margin: 3rem;
    text-transform: capitalize;
}

.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
    justify-content: center;
    margin: 2rem;
}

.img1{
    background: url(../images/2.PNG) center no-repeat;
    width: 100%;
    background-size: cover;
    grid-column: 1 / 2;
}

.img2{
    background: url(../images/Capture.PNG) center no-repeat;
    width: 100%;
    background-size: cover;
    grid-column: 1 / 2;
}

.img3{
    background: url(../images/tempsnip.png) center no-repeat;
    width: 100%;
    background-size: cover;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.img4{
    background: url(../images/Website.png) center no-repeat;
    width: 100%;
    background-size: cover;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.img-des1{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* width: 40rem; */
}

/* .img-des2{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 40rem;
} */

.img-des{
    text-align: center;
    width: 30rem;
    line-height: 1.9;
    margin: auto;
}

.img-des > p{
    margin-bottom: 4rem;
}

i{
    width: 2rem;
    font-size: 1.5rem;
}

@media (max-width: 769px) {
    .small{
        letter-spacing: 0;
    }

    .header-img{
        width: 100svw;
    }

    .header-title{
        top: 10rem;
    }

    .about-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about{
        margin: 2rem;
        margin-bottom: 0;
        text-align: center;
    }

    .about-img{
        width: 30rem;
    }
    
    .projects{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(20, 1fr);
    }

    .img1{
        background: url(../images/2.PNG) center no-repeat;
        width: 100%;
        background-size: cover;
        grid-row: 2 / 3;
    }

    .img2{
        background: url(../images/Capture.PNG) center no-repeat;
        width: 100%;
        background-size: cover;
        grid-row: 3 / 4;
    }
    
    .img3{
        background: url(../images/tempsnip.png) center no-repeat;
        width: 100%;
        background-size: cover;
        grid-row: 3 / 4;
    }
    
    .img4{
        background: url(../images/Website.png) center no-repeat;
        width: 100%;
        background-size: cover;
        grid-row: 4 / 5;
    }

    .img-des1{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        /* width: 40rem; */
    }

}